body {
  margin: 0;
  background: linear-gradient(to top left, powderblue, pink);
  color: white;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;


}

.header {
  display: flex;
  font-size: 30px;
  font-weight: 400;
  font-family: sans-serif;
  max-height: max-content;
  margin-top: 10px;
  justify-content: space-between;
}

#logo {
  font-family: 'Secular One', sans-serif;
  text-shadow: 1px 1px 1px red, 0 0 1em rgb(243, 136, 220), 0 0 0.1em rgb(150, 150, 240);
  margin-left: 20px;


}

.border-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(251, 247, 247, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.border-button:before,
.border-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.border-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.border-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.border-button:hover:before,
.border-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.border-button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.border-button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.border-button:hover {
  background: rgba(255, 255, 255, .2);
}


.elements {
  display: flex;
  justify-content: space-around;
  align-items: center;


}

#left_section {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(242, 130, 148);
  display: flex;
  flex-direction: column;
  align-items: center;


}

h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  font-family: sans-serif;
}

.sliding-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1), transform 220ms ease;
  background: #ff096c;
}

.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.sliding-button:hover {
  background: rgba(184, 27, 27, 0);
}

.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.sliding-button:active {
  transform: scale(90%);
}

#new_anime {
  display: flex;

}

#new_anime img {
  margin-right: 50px;
}

#new_anime_p {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

p {
  margin: 0;
  margin-bottom: 35px;
}

a {
  text-decoration: none;
  color: rgb(66, 13, 54)
}

.anime_add_message {
  height: 40px;
  width: max-content;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: 1px 1px 4px black;
  padding: 7px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;

}

.anime_add_message a {
  color: red;
}